
/target
/out
/test
/.idea
/application.properties
/BusinessFinance.iml
/BusinessFinance-grailsPlugins.iml
/devDb.log
/devDb.properties
/devDb.script
/stacktrace.log
/.idea
/.idea/workspace.xml
/.idea/copyright
/.idea/.name
/.idea/ant.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/copyright/profiles_settings.xml
/.settings/org.codehaus.groovy.eclipse.preferences.prefs
/.classpath
/.project
/.idea
/.settings

/.idea/copyright/profiles_settings.xml
