.prevLink {
    background: url("../images/browser/back.png") no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.nextLink {
    background: url("../images/browser/forward.png") no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.step {
    margin: 0 0.2em 0 0.1em;
    padding: 3px;
    font-size: 16px;
}

.currentStep {
    background: none repeat scroll 0 0 #7A9BAC;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 5px;
}